<!-- <div class="well well-small">
<input id="title-edit" value="<%= title %>" name="title" style="height : 30px"></br>
<input id="desc-edit" value="<%= description %>" name="desc" style="height : 30px"></br>
<div id="actions" class="pull-right">
	<button id="edit-complete" class="btn btn-primary">OK</button>
	<button id="edit-cancel" class="btn btn-primary"> Cancel </button>
</div> -->
</div>



<div class="well well-small span8" style="margin-bottom:0px; padding:9px;">
    Task:<input type="text" class="span5 pull-right" name="title" value="<%= title %>"></br></br>
    Description:<input type="text" class="span5 pull-right" value="<%= description %>" name="desc"></br></br>
    <div class="btn-group pull-right">
        <a class="btn btn-small" id="edit-complete">OK</a>
        <a class="btn btn-small" id="edit-cancel">Cancel</a> 
    </div>
</div>