<!-- <div class="well well-small" >
<center>
<button id="taskadd-btn" class="btn btn-primary">New Task</button>
<div id="taskadd-form">
	<fieldset>
		<legend class="text-center"> Add Task</legend>
		<div>
			<input type="text" name="title" placeholder="Title" placeholder="Task title" style="height : 30px;"></br>
			<input type="text" name="description" placeholder="Description" placeholder="Description" style="height : 30px;">
		</div>
	</fieldset>
	<div id="form-actions" class="pull-right">
		<button id="addtask" class="btn btn-primary">Add</button>
		<button id="cancel-taskadd" class="btn btn-warning"> Cancel </button>
	</div>
</div>
</center>
</div>
 -->

</br>
<div id="taskadd-form" class="well well-small span8" style="margin-bottom:0px;">
    Task: <input type="text" class="input-medium pull-right span7" name="title" placeholder="Task">
    </br></br> Description: <input type="text" class="pull-right span7" name="description" placeholder="Description">
    </br></br>
    <div class="btn-group pull-right">
        <a class="btn btn-small" id="addtask">Add</a>
        <a class="btn btn-small" id="cancel-taskadd">Cancel</a> 
    </div>
</div>
<br>
<br>