
<!-- <h3 id="title"><%= title %></h3>
<p id="desc"><%= description %></p>
<div id="completed"> </div>
<button id="edit-btn" class="btn btn-primary">Edit</div><br>
<button id="delete-btn" class="btn btn-danger">Delete</div>
 -->

<div class="well well-small span8" style="margin-bottom:0px; padding:9px;">
    <h4 style="font-size:25px;" class="pull-left"> <%= title %> </h4></br></br>
    <p class="pull-left"> <%= description %> </p></br></br>
    <input type="checkbox" id="done" value="completed" class="pull-left" <%= completed %> ><span class="pull-left">Completed</span></input>
    <div class="btn-group pull-right">
        <a class="btn btn-small" id="edit-btn">Edit</a>
        <a class="btn btn-small" id="delete-btn">Delete</a> 
    </div>
</div>