<html> 
	<head>
		<title>
			{% block title %}{% endblock %}
		</title>
		{% block js %}{% endblock %}
		{% block css %}{% endblock %}
	</head>
	<body id="todo" style="background-color:#a3e0cd;">
		<!-- <div id="top" class="row-fluid">{% block top %}{% endblock %}</div> -->
		<div id="dotodo-app" class="container-fluid">{% block content %}{% endblock %}</div>
		<div id="footer" class="row-fluid">{% block footer %}{% endblock %}</div>
	</body>
</html>