{% extends "base.html" %}

{% block title %}  
doTOdo
{{ user }}
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/lib/require.js"></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
{% endblock %}


<!-- {% block top %}

{% endblock %} -->

{% block content %}
		<div class="hero-unit" style="padding-bottom:5px; padding-top:5px; margin-bottom:0px; background-color:#75c9d1;">
          <span class="pull-right"><a href="/logout/">Logout</a></span> 
        	<h1>doTOdo</h1>
        	<p>Organize your Task's</p>
      	</div>
        <center>
      	<div class="span3" id="sidebar-left">
          <span style="margin-top:4px;"><b style="font-size:15px;">Add new Tasklist</b> </span>
          <div class="input-append" id="tasklist-add">

             <!-- tasklistadd.html -->

          </div>
          <ul class="nav nav-list" id="tasklistpanel">
            <!-- <li class="active">
              <a href="#">Home</a> 
            </li>
            <li>
              <a href="#">About</a> 
            </li> -->
          </ul>
        </div>

      <div class="container span9" id="central-container">


      </div>

</center>


	<!-- <div id="sidebar-left">
	<div id="tasklist-add"></div>
	<ul id="tasklistpanel"></ul>
	</div>

	<div id="central-container">
	<!-- 	<div id="tasklist-header"></div>
		<div id="taskadd"></div>
		<div id="tasks"></div> -->
{% endblock %}

{% block footer %}
Footer
<script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
{% endblock %}