<!-- <div class="hero-unit" style="padding:12px; bottom-margin:0px;">
<div id="header-display" class="row-fluid">
	<h1 class="text-center "><%= listName %></h1>
	<button id="tasklist-edit-btn" class="pull-right btn btn-primary">Edit</button>
	<button id="tasklist-delete-btn" class="pull-right btn btn-danger">Delete</button>
</div> -->



<div style="padding-top:30px; margin-bottom:0px; background-color:#5eb2c9;" class="well well-small span8" id="header-display">
    <b style="font-size:45px;"> <%= listName %> </b></br></br>
    <a class="btn btn-success pull-left" href="#" id="addtask-btn" style="margin-bottom:0px;">Add Task</a></br>
    <div class="btn-group pull-right">
        <a class="btn btn-small btn-primary" id="tasklist-edit-btn">Edit</a>
        <a class="btn btn-small btn-danger" id="tasklist-delete-btn">Delete</a> 
    </div>
</div>




<div id="edit-name" class="well well-small span8" style="padding-top:10px; background-color:#5eb2c9; margin-bottom:0px;">
    <b>Tasklist</b> <input type="text" style="padding:20px; font-size:30px;" class="span7 pull-right" value="<%= listName %>" name="name"></br>
    <div class="btn-group pull-right">
        <a class="btn btn-small btn-primary" id="listedit-btn">Done</a>
        <a class="btn btn-small" id="edit-cancel-btn">Cancel</a> 
    </div>
</div>





<!-- <div id="edit-name"> 
	<input type="text", name="name", value="<%= listName %>" style="height : 30px;"></br>
	<button id="listedit-btn" class=" btn btn-success pull-right"> Done </button>
	<button id="edit-cancel-btn" class="btn btn-warning pull-right"> Cancel </button>

</div>
<div> -->