<!-- <input id="tasklist-add-input" type="text" name="listname" class="input-large" style="height : 40px; padding: 10px 10px 10px 10px;" placeholder="Add new Task list">
<div id="tasklist-add-btn" class="btn-primary pull-right "> Add </div> -->

<div class="input-append" style="backgound-color:#5eb2c9; margin-top:9px;">
<input type="text" class="input-medium" name="listname" style="padding-bottom:5px;">
<button class="btn btn-small" type="button listaddbtn" id="tasklist-add-btn">Add</button>
</div>